{
  "extends": "airbnb-typescript",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "object-curly-newline": "off",
    "@typescript-eslint/semi": [2, "never"],
    "brace-style": ["error", "stroustrup"],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ],
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "warn",
    "react/no-unescaped-entities": "off",
    "react/jsx-props-no-spreading": "off",
    "react/state-in-constructor": "off",
    "@typescript-eslint/no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/comma-dangle": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".tsx", ".ts", ".js", ".jsx"],
        "map": [
          ["src", "./src"],
          ["app", "./src"]
        ]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
